<% provide(:title, @restaurant.name) %>
<div class = "page-header">
	<h1><%= @restaurant.name %></h1>
</div>
<%= simple_format(@restaurant.location) %>
<% if @items.count > 0 %>
	<ul id = "items-list">
		<% @items.each do |item| %>
			<% if item.name != nil %>
				<li><h3><%= link_to item.name, item  %></h3><br>
				<%= item.content %></li>
			<% end %>
		<% end %>
	</ul>
<% end %>

<div class = "page-header">
	<h2>Add a menu item</h2>
</div>

<%= form_for(@item) do |f| %>
	<%= render 'shared/error_messages' %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :content %>
	<%= f.text_field :content %>

	<%= f.hidden_field :restaurant_id %>

	<%= f.submit "Add item", class: "btn btn-large btn-primary" %>
<% end %>

